# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

autom4te.cache/*
.deps/*
.libs/*

config.guess
config.log
config.status
config.sub
Makefile
libtool

core
