# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

autom4te.cache/*
.deps/*
.libs/*

aclocal.m4
config/*
config.compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
Makefile
Makefile.in
missing

core
